.winning {
  background: #e7816b;
  margin: 0 -24px;
  text-align: center;
  padding: 0 24px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/bg-pattern-hero-home.svg');
  background-position: left top;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 15px;

  &__title {
    color: #ffffff;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 24px 0;
  }
  &__text {
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 24px 0;
  }
  &__img {
    width: 280px;
    margin-bottom: -123px;
  }

  .button {
    margin-bottom: 80px;
  }
}
