.winning {
  background: #e7816b;
  margin: 0 -24px 120px;
  text-align: center;
  padding: 0 24px;
  padding-top: 80px;
  background-image: url('./images/bg-pattern-hero-home.svg');
  background-position: left top;
  background-repeat: no-repeat;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #ffffff;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 24px 0;
    max-width: 500px;
  }
  &__text {
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 24px 0;
  }
  &__img {
    width: 280px;
    margin-bottom: -123px;
  }

  .button {
    margin-bottom: 80px;
  }
  @media screen and (min-width: 768px) {
    border-radius: 15px;
    margin: 0 0 120px 0;
    padding-top: 60px;
    padding-bottom: 6px;
    background-position: 185px 100px;
    &__title {
      font-size: 48px;
      line-height: 48px;
      max-width: 500px;
      margin-bottom: 30px;
    }
    &__text {
      font-size: 16px;
      line-height: 26px;
      max-width: 435px;
      margin-bottom: 18px;
    }
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    padding: 148px 96px 66px;
    background-position: right top;
    margin-bottom: 160px;
    &__title {
      text-align: left;
    }
    &__text {
      text-align: left;
      margin-bottom: 40px;
    }
    &__content {
      align-items: flex-start;
      margin-right: 138px;
    }
  }
}
